@import url('https://fonts.googleapis.com/css2?family=Festive&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* font-family: 'Festive', cursive;
font-family: 'Oswald', sans-serif; */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* font-family: 'Oswald', sans-serif; */
    color: white;
}

a {
    text-decoration: none;
}

body {
    background-image: url(./wadud.jpg.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
}

.container {
    width: 70%;
    margin: auto;

}

.navBar {
    display: flex;
    justify-content: space-between;
}

.navBarBrand {
    font-size: 35px;
    font-family: 'Festive', cursive !important;
}

.navBarItem {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.navBarItem span a {
    margin: 0px 10px;
    padding: 0px 10px;
    text-transform: uppercase;
    position: relative;
    /* overflow: hidden; */


}

.navBarItem span a::before {
    content: "";
    display: inline;
    position: absolute;
    background-color: aliceblue;
    height: 3px;
    margin-top: 33px;
    margin-left: -10px;
    transition: .5s cubic-bezier(0.4, 0, 1, 1);
    width: 0px;
}



.one a:hover:before {
    width: 62px;
}


.two a:hover:before {
    width: 89px;
}



.three a:hover:before {
    width: 62px;
}


.four a:hover:before {
    width: 70px;
}

/** main section start  */

.main-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

.main-sec h1 {
    font-family: 'Oswald',
        sans-serif;
    font-size: 70px;
    letter-spacing: 2px;
    word-spacing: 7pxpx;
    font-weight: 500;

}

.main-sec p {
    font-family: 'Oswald',
        sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    word-spacing: 5px;
    font-size: 16px;
    text-align: center;
    width: 650px;
    margin-top: 20px;
}

.btnSec {
    margin-top: 40px;
    text-align: center;
    text-decoration: none;
    background: none;
    border-radius: 0px;
}

.btnSec button {
    text-decoration: none;
    background: none;
    border-radius: 0px;
    outline: none;
    border: none;
    padding: 14px;
}

.btnSec button a {
    font-size: 17px;
    font-family: 'Oswald',
        sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    border: 1px solid white;
    padding: 8px 15px;
    border-radius: 30px;
}